.image img{
    width: 250px;
    height: 200px;
    margin: 10px;
}

.home{
    border: 1px solid #BFBFBF;
   
    margin: 5px;
    height: 500px;
    width: 600px;
   text-align: center;
   
   
}
.home:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
    transform: scale(0.9,0.9);
    
}
.text-primary:hover{
    color: crimson !important;
}
